@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Sans+Narrow:400,700|PT+Sans:400,400i,700,700i');

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  padding-top: 50px;
  position: relative;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans Narrow", sans-serif;
}

header,
footer {
  background-color: #33373f;
  color: #fff;

}

header {
  padding-top: 20px;
}

.navbar {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  background-color: #5c6a7e;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:focus {
  color: #009CFF;
  font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #bbb;
  font-weight: bold;
  text-decoration: underline;
}

.navbar-inverse .navbar-toggle {
  border-color: #fff;
  border-width: 2px;
}

.navbar-inverse .navbar-toggle:hover {
  border-color: #009CFF;
  background-color: #5c6a7e;
}

.navbar-inverse .navbar-toggle:focus {
  background-color: #5c6a7e;

}

.disclamer {
  text-align: center;
}

#s1 {
  padding-bottom: 20px;
}

#s1 p {
  font-family: "PT Sans Caption", sans-serif;
}

#s1 img {
  width: 240px;
  border: 1px solid #fff;
  border-radius: 120px;
}

#s2 {
  background-color: #C7CAD4;
}

.pages {
  padding-bottom: 10px;
}

.webpagePlaceholder {
  /*background-color: #fff;*/
  height: 400px;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

@media all and (max-width: 768px) {
  .webpagePlaceholder {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.webPage {
  position: absolute;
  bottom: 0px;
  max-width: 293.33px;
  width: 100%;
  left: 50%;
  margin-left: -146.5px;
}

@media all and (max-width: 767px) {
  .webPage {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 50%;
    max-width: 300px;
    margin-left: -150px;
  }
}

@media all and (max-width: 991px) and (min-width: 768px) {
  .webPage {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 50%;
    max-width: 220px;
    margin-left: -110px;
  }
}

.webPage figure {
  margin: 0 auto;
  height: 200px;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 3px 2px 10px 1px rgba(0,0,0,0.74);
  -moz-box-shadow: 3px 2px 10px 1px rgba(0,0,0,0.74);
  box-shadow: 3px 2px 10px 1px rgba(0,0,0,0.74);
}

.webPage a {
  margin-top: -80px;
}

#s3 {
  background: url("../img/back4-tenerife.jpg") no-repeat top fixed;
  background-size: cover;
  padding-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 1px #000
}

#my-carousel {
  max-width: 600px;
}

#my-carousel .text-left {
  margin-left: 20px;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
}

footer {
  padding-top: 10px;
  padding-bottom: 20px;
}

footer p:first-of-type {
  margin-top: 10px;
}

header a,
footer a {
  color: #009CFF;
}

header a:hover,
footer a:hover {
  color: #bbb;
  font-weight: bold;
}
